<template>
    <div>
        <h1>New enrollments</h1>

        <p>Select the students you would like to enroll in this unit.</p>
        <p v-if="students.length==0"><em>No students available to enroll.</em></p>
        <div v-else-if="students">
        <table class="table">
            <thead>
                <tr>
                    <th>Enroll?</th>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <!-- <th>Last Name</th> -->
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in students">
                    <td> <input type="checkbox" v-model="item.enroll"></td>
                    <td>{{ item.studentId }}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                </tr>
            </tbody>
        </table>
        </div>
        <p v-else><em>Loading...</em></p>
        <button type="button" @click="enrollStudents" :disabled="studentsToEnroll.length == 0" class="btn btn-success">Add student(s)</button>
    </div>
</template>

<script src="./enrollstudents.ts"></script>
