<template>
    <div>
        <vue-snotify></vue-snotify>
        <h1>Units</h1>

        <p>Here you can see the existing units and add more.</p>
        <p v-if="units.length==0"><em>There's currently no units registered. Why not add some?</em></p>
        <table v-else-if="units.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Semester</th>
                    <th>Enrollments</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in units">
                    <td>{{ item.unitId }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.semester }}</td>
                    <td>
                    <router-link :to="'/units/' + item.unitId">
                        View enrollments
                    </router-link>
                    </td>
                    <td>
                        <button type="button"data-toggle="modal" @click="confirmRemove(index)"
                            data-target="#confirmRemoveModal" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-else><em>Loading...</em></p>
        <h2>New unit</h2>
        <form class="form-inline">
            <div class="form-group">
                <!-- MAYBE: put this in another component-->
                <input v-model="newUnit.name" placeholder="Unit name" class="form-control">
            </div>
            <div class="form-group">
                <input v-model="newUnit.semester" placeholder="Semester"  class="form-control">
            </div>
            <div class="form-group">
                <input v-model="newUnit.weight1" placeholder="Weight 1"  class="form-control weight">
            </div>
            <div class="form-group">
                <input v-model="newUnit.weight2" placeholder="Weight 2"  class="form-control weight">
            </div>
            <div class="form-group">
                <input v-model="newUnit.weight3" placeholder="Weight 3"  class="form-control weight">
            </div>
            <div class="form-group">
                <!--explicitly adding `type="button"` disables the default post on a form-->
                <button type="button" @click="addUnit" :disabled="!inputIsValid" class="form-control btn btn-success">Add unit</button>
            </div>
        </form>
        <div id="confirmRemoveModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure you want to delete 
                        <strong>{{unitToRemove.name}}</strong>?</h4>
                </div>
                <div class="modal-body">
                    <p>This will also delete all its enrollments. <strong>This action is irreversible.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="removeUnit">Yes, I'm sure</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./fetchunits.ts"></script>
