<template>
    <div>
        <h1>Welcome to Yachay</h1>
        <p>Yachay, which is the Quechuan word for "Education", is a Blackboard-style SPA.</p>
        <p>Here's some of the things you can do:</p>
        <ul>
            <li>Create students</li>
            <li>Create units</li>
            <li>Enroll students to units</li>
            <li>Grade students by course</li>
            <li>See enrollments by student</li>
        </ul>
        <p>Yachay was built using:</p>
        <ul>
            <li><a href="https://get.asp.net/">ASP.NET Core</a> and <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a> for cross-platform server-side code</li>
            <li><a href="https://vuejs.org/">Vue.js</a> and <a href="http://www.typescriptlang.org/">TypeScript</a> for client-side code</li>
            <li><a href="https://webpack.github.io/">Webpack</a> for building and bundling client-side resources</li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a> for layout and styling</li>
        </ul>
    </div>
</template>