<template>
    <div>
        <h1>Enrolled units for {{student.firstName + ' ' + student.lastName}}</h1>
        <p><router-link to="/students/">Go back to all students</router-link></p>
        <p v-if="student.enrollments.length==0"><em>This student has no enrollments. You can enroll them using the Units tab</em></p>
        <div v-else-if="student.enrollments">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Unit Id</th>
                    <th>Unit Name</th>
                    <th>Grade 1</th>
                    <th>Grade 2</th>
                    <th>Grade 3</th>
                    
                    <!--TODO: <th>Final Grade</th> -->
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in student.enrollments">
                    <td>{{ item.unit.unitId }}</td>
                    <td>{{ item.unit.name }}</td>
                    <td v-if="item.grade1">{{ item.grade1 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <td v-if="item.grade2">{{ item.grade2 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <td v-if="item.grade3">{{ item.grade3 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <!-- <td>{{ formatDecimal(weightedAvg(item), 1) }} </td> -->
                </tr>
            </tbody>
        </table>
        </div>
        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./student.ts"></script>
