<template>
    <div>
        <h1>Students enrolled in Unit {{ $route.params.id }}</h1>

        <p>This component demonstrates fetching data from the server.</p>
        <p v-if="unit.enrollments.length==0"><em>No students enrolled in this class.</em></p>
        <table v-else-if="unit.enrollments" class="table">
            <thead>
                <tr>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Grade 1</th>
                    <th>Grade 2</th>
                    <th>Grade 3</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in unit.enrollments">
                    <td>{{ item.student.studentId }}</td>
                    <td>{{ item.student.firstName + ' ' + item.student.lastName }}</td>
                    <td v-if="item.grade1">{{ item.grade1 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <td v-if="item.grade2">{{ item.grade2 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <td v-if="item.grade3">{{ item.grade3 }}</td>
                    <td v-else><em>No grade...</em></td>
                </tr>
            </tbody>
        </table>
        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./unit.ts"></script>
