<template>
    <div>
        <div v-if="successfulSave">
            <toast msgType="ok" msg="Success! Changes were updated correctly."/>
        </div>
        <div v-if="failedSave">
            <toast msgType="error" msg="Oops! Something went wrong. Please try again"/>
        </div>
        <h1>Students enrolled in {{unit.name}}</h1>
        <p>The weights for each grade are {{unit.weight1}},
             {{unit.weight2}} and {{unit.weight3}}, respectively.</p>
        <p><router-link to="/units/">Go back to all units</router-link></p>
        <p><router-link :to="'/units/' + unit.unitId + '/enroll'" >Enroll more students...</router-link></p>        
        <p v-if="unit.enrollments.length==0"><em>No students enrolled in this class.</em></p>
        <div v-else-if="unit.enrollments">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Grade 1</th>
                    <th>Grade 2</th>
                    <th>Grade 3</th>
                    <th>Final Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in unit.enrollments">
                    <td>{{ item.student.studentId }}</td>
                    <td>{{ fullName(item.student) }}</td>
                    <td v-if="item.grade1">{{ item.grade1 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <td v-if="item.grade2">{{ item.grade2 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <td v-if="item.grade3">{{ item.grade3 }}</td>
                    <td v-else><em>No grade...</em></td>
                    <td>{{ formatDecimal(weightedAvg(item), 1) }} </td>
                    <td><button type="button" @click="editEnrollment(index)" class="btn btn-primary"
                         data-toggle="modal" data-target="#editGradeModal">Edit grades...</button></td>
                </tr>
            </tbody>
        </table>
        <p>The class average is: {{formatDecimal(unitAvg(), 2)}}</p>
        <button type="button" @click="applyChanges()" class="btn btn-success" :disabled="!IsThereChanges">Save changes</button>        
        <button type="button" @click="revertChanges()" class="btn btn-danger" :disabled="!IsThereChanges" >Discard</button>
        <!-- Modal -->
        <!-- TODO: there's probably a way to modularize this. right now it's a bit ugly and difficult to maintain -->
        <div v-if="currentEnrollment" class="modal fade" id="editGradeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Editing {{fullName(currentEnrollment.student)}}'s grades
                </h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline edit-grades">
                    <div class="form-group">
                        <label>Grade 1</label>
                        <input v-model="currentEnrollment.grade1" class="form-control small-num">
                    </div>
                    <div class="form-group">
                        <label>Grade 2</label>
                        <input v-model="currentEnrollment.grade2" class="form-control small-num">
                    </div>
                    <div class="form-group">
                        <label>Grade 3</label>
                        <input v-model="currentEnrollment.grade3" class="form-control small-num">
                    </div>
                    <div class="form-group">
                        <label>Weighted Avg.:</label>
                        <span type="text" class="form-control grade" readonly>
                            {{ formatDecimal(weightedAvg(currentEnrollment), 1) }}
                        </span>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        </div>
        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./unit.ts"></script>
