@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

input.grade {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

td.grade {
    margin: 0;
    padding: 0;
}