<template>
    <div>
        <h1>Students</h1>
        <vue-snotify></vue-snotify>
        <p>This component demonstrates fetching data from the server.</p>

        <table v-if="students.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in students">
                    <td>{{ item.studentId }}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>
                        <router-link :to="'/students/' + item.studentId">
                            View enrollments
                        </router-link>
                    </td>
                    <td>
                        <button type="button" @click="removeStudent(index)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-else><em>Loading...</em></p>
        <h2>New student</h2>
        <form class="form-inline">
            <div class="form-group">
                <!-- MAYBE: put this in another component-->
                <input v-model="newStudent.firstName" placeholder="First Name" class="form-control">
            </div>
            <div class="form-group">
                <input v-model="newStudent.lastName" placeholder="Last Name"  class="form-control">
            </div>
            <div class="form-group">
                <!--explicitly adding `type="button"` disables the default post on a form-->
                <button type="button" @click="addStudent"  class="form-control btn btn-success">Add student</button>
            </div>
        </form>
    </div>
</template>

<script src="./fetchstudents.ts"></script>
