<template>
    <div>
        <h1>Students</h1>
        <vue-snotify></vue-snotify>
        <p>Here you can see the existing students and add more.</p>
        <p v-if="students.length==0"><em>There's currently no students registered. Why not add some?</em></p>
        <table v-else-if="students.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Enrollments</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in students">
                    <td>{{ item.studentId }}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>
                        <router-link :to="'/students/' + item.studentId">
                            View enrollments
                        </router-link>
                    </td>
                    <td>
                        <button type="button" data-toggle="modal" @click="confirmRemove(index)"
                            data-target="#confirmRemoveModal" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-else><em>Loading...</em></p>
        <h2>New student</h2>
        <form class="form-inline">
            <div class="form-group">
                <!-- MAYBE: put this in another component-->
                <input v-model="newStudent.firstName" placeholder="First Name" class="form-control">
            </div>
            <div class="form-group">
                <input v-model="newStudent.lastName" placeholder="Last Name"  class="form-control">
            </div>
            <div class="form-group">
                <!--explicitly adding `type="button"` disables the default post on a form-->
                <button type="button" @click="addStudent" :disabled="!inputIsValid"  class="form-control btn btn-success">Add student</button>
            </div>
        </form>
        <!-- TODO: put this in a component -->
        <div id="confirmRemoveModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure you want to delete 
                        <strong>{{studentToRemove.firstName}}</strong>?</h4>
                </div>
                <div class="modal-body">
                    <p>This will also delete all their enrollments. <strong>This action is irreversible.</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="removeStudent">Yes, I'm sure</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./fetchstudents.ts"></script>
